.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 0;
}

.head-title {
  margin-bottom: 200px;
}
.inner-container {
  max-width: 800px;
  margin: 0 auto;
}

.btn {
  font-size: 0.8rem;
  font-family: "Helvetica Neue", Helvetica, Arial;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  transition: 0.4s ease;
  background: transparent;
  box-shadow: 0 1px 1px rgb(230 228 230 / 25%),
    0px 1px 1px rgb(255 255 255 / 22%);
  color: snow;
}

.add {
  margin-left: 20px;
  width: 50%;
  max-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete:hover {
  background-color: red;
}

#edit:hover {
  background-color: rgb(226, 226, 21);
  color: black;
}

.btn:hover {
  background-color: lightgreen;
}

.input-field {
  padding: 5px 15px;
  width: 100%;
  background: transparent;
  color: snow;
  border: 0.5px solid snow;
  border-radius: 8px;
}

.submit-change {
  margin-top: 50px;
  width: -webkit-fill-available;
}

.form-container {
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 40px;
  box-shadow: 0 1px 3px rgb(255 244 244 / 12%), 0 1px 2px rgb(253 254 255);
  border-radius: 8px;
  height: 130px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 1.5rem;
}

.card-text {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.card-text > div {
  word-wrap: break-word;
  text-overflow: clip;
}

.checkboxen {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.btn-container {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.todo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
